.circle {
  width: 350px;
  height: 350px;
  left: 100px;
  top: -100px;
}

.titulo {
  font-size: 2.8rem;
}

.proyectoImg {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}