.board,
.boardInfo {
  max-width: 500px;
}

.board {
  grid-template-columns: repeat(10, 1fr);
  font-family: 'Cascadia Code', monospace;
}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: rgb(72, 97, 143);
}

.snakeSquare {
  background-color: rgb(170, 231, 100);
}

.foodSquare {
  background-color: #f35a65;
}